body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-image: url('drone.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  flex-direction: column;
}

.header {
  position: absolute;
  top: 10px;
  right: 2%;
  text-align: right;
  color: black;
}

.header h1 {
  margin: 0;
  font-size: 4em; /* Double the size */
}

.header p {
  margin: 0;
  font-size: 2.4em; /* Double the size */
}

.logo {
  position: absolute;
  top: 0px;
  left: 10px;
  width: 150px;
  height: 150px;
  cursor: pointer;
  transition: transform 0.3s;
}

.logo:active {
  transform: rotate(360deg);
}

.buttons {
  position: absolute;
  top: 20%; /* Adjusted to move the buttons down */
  right: 2%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 1.2em;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.8);
  transform: scale(1.05);
}

.button:active {
  transform: scale(0.95);
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  padding: 1px 0;
}

.sidebar-button {
  display: none;
}

.sidebar {
  position: fixed;
  left: -200px;
  top: 0;
  width: 200px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: left 0.3s;
}

.sidebar.open {
  left: 0;
}

.sidebar .button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 1.2em;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.sidebar .button:hover {
  background-color: rgba(0, 0, 0, 0.8);
  transform: scale(1.05);
}

.sidebar .button:active {
  transform: scale(0.95);
}
